<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h6>Reactive form example - Assignment</h6>
        </div>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="changePassword()">
                <div *ngIf="form?.errors?.['passwordMustMatch'] && newPassword?.valid && confirmPassword?.valid" class="alert alert-danger">
                    The new password and the confirmation don't match
                </div>
                <div class="grid"> 
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current password</label>
                        <input 
                            formControlName="currentPassword"
                            id="currentPassword" 
                            type="password" 
                            class="form-control">
                        <div *ngIf="currentPassword?.pending">Validating the current password...</div>
                        <div *ngIf="currentPassword?.touched && currentPassword?.invalid" class="alert alert-danger">
                            <div *ngIf="currentPassword?.errors?.['required']">The current password is required.</div>
                            <div *ngIf="currentPassword?.errors?.['minlength']">The current password should have at least {{currentPassword?.errors?.['minlength'].requiredLength}} characters.</div>
                            <div *ngIf="currentPassword?.errors?.['validCurrentPassword']">Password doesn't match your current password</div>
                            <div *ngIf="currentPassword?.errors?.['cannotContainSpace']">Password can't have spaces</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New password</label>
                        <input 
                            formControlName="newPassword"
                            id="newPassword" 
                            type="password" 
                            class="form-control">
                        <div *ngIf="newPassword?.touched && newPassword?.invalid" class="alert alert-danger">
                            <div *ngIf="newPassword?.errors?.['required']">The new password is required.</div>
                            <div *ngIf="newPassword?.errors?.['minlength']">The new password should have at least {{newPassword?.errors?.['minlength'].requiredLength}} characters.</div>
                            <div *ngIf="newPassword?.errors?.['cannotContainSpace']">Password can't have spaces</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm password</label>
                        <input 
                            formControlName="confirmPassword"
                            id="confirmPassword" 
                            type="password" 
                            class="form-control">
                        <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid" class="alert alert-danger">
                            <div *ngIf="confirmPassword?.errors?.['required']">The confirmation password is required.</div>
                            <div *ngIf="confirmPassword?.errors?.['minlength']">The confirmation password should have at least {{confirmPassword?.errors?.['minlength'].requiredLength}} characters.</div>
                            <div *ngIf="confirmPassword?.errors?.['cannotContainSpace']">Password can't have spaces</div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>